sysbuild
*.sdf
*.suo
*.sln
*.opensdf
log.txt
externals
support
build*
*.o
*.dylib
tmp
**/*.xcodeproj/*
**/info.plist
**/package-info.json
media
docs
interfaces/max.db.json
interfaces/flucoma-obj-qlookup.json
/.vs
release-packaging/**
winbuild/*
.DS_Store
