name: nightly

on:
  workflow_dispatch:
  push:
    branches: [ main, ci/** ]

concurrency:
  group: environment-${{ github.ref }}
  cancel-in-progress: true

jobs: 
  winbuild:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: flucoma/actions/env@main
      - uses: flucoma/actions/max@main
        with:
          branch: origin/main

      - uses: actions/upload-artifact@v4.3.6
        with:
          name: winbuild
          path: "release-packaging/Fluid Corpus Manipulation/externals/"
  
  macbuild:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: flucoma/actions/env@main
      - uses: flucoma/actions/max@main
        with:
          branch: origin/main

      - name: sign and notarise
        uses: flucoma/actions/distribution@main
        with:
          glob: '-e mxo'
          package: 'release-packaging'
          output_type: 'bundle'
          cert: ${{ secrets.CERT }}
          certpwd: ${{ secrets.CERTPWD }}
          teamid: ${{ secrets.WWDRTEAMID }}
          apppwd: ${{ secrets.APPSTORECONNECTPWD }}
          appusr: ${{ secrets.APPSTORECONNECTUSERNAME }}

      - uses: actions/upload-artifact@v4.3.6
        with:
          name: macbuild
          path: "release-packaging/Fluid Corpus Manipulation/"
  
  release:
    runs-on: ubuntu-latest
    needs: [winbuild, macbuild]

    steps:
      - name: make parent folder
        run : mkdir -p "Fluid Corpus Manipulation"

      - uses: actions/download-artifact@v4.1.7
        with:
          name: macbuild
          path: "Fluid Corpus Manipulation"

      - uses: actions/download-artifact@v4.1.7
        with:
          name: winbuild
          path: "Fluid Corpus Manipulation/externals"
      
      - name: zip
        run: zip -r FluCoMa-Max-nightly.zip "Fluid Corpus Manipulation"

      - uses: dev-drprasad/delete-tag-and-release@v0.2.1
        with:
          delete_release: true # default: false
          tag_name: nightly # tag name to delete
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: create release
        uses: ncipollo/release-action@v1
        with:
          name: FluCoMa Max Nightly Release
          artifacts: "FluCoMa*"
          body: "This is a nightly build of the FluCoMa Max package. As such, be warned there may be bugs or other unexpected behaviour. The build hash is ${{ github.sha }}"
          tag: nightly
          prerelease: true
          draft: false
          allowUpdates: true


